KAAM_MONGODB_URI=mongodb://127.0.0.1:27017/kaamdb
KAAM_PORT=3030
KAAM_HOST=localhost
KAAM_OTP_VALIDITY_TIME=3
KAAM_TWILIO_ACCOUNT_SID=ACacad5b885f666d5882e2de8ee4355735
KAAM_TWILIO_AUTH_TOKEN=83f61536219d1a8f2d0879c7ebd47efe
KAAM_CLOUDINARY_CLOUDNAME=dz81rzrlu
KAAM_CLOUDINARY_APIKEY=453392342355197
KAAM_CLOUDINARY_APISECRETKEY=6Vq4DD5rgFcU7IhMw0vkQROMilo
KAAM_CLOUDINARY_URL=cloudinary://453392342355197:6Vq4DD5rgFcU7IhMw0vkQROMilo@dz81rzrlu
KAAM_OTP_DIGITS=4
KAAM_S3_BUCKET_NAME=kaam-offical-bucket
KAAM_AWS_REGION=ap-southeast-2
KAAM_AWS_ACCESS_KEY=AKIAYFENEK5CN7PSPBNR
KAAM_AWS_SECRETACCESS_KEY=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
FIREBASE_NOTIFICATION_FILE_PATH=/home/dattaramn/kaam-app.json
