<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KaamPe</title>
</head>
<body>
    Hii KaamPe aya hai broo
    <%- name %>
    <%- link %>
</body>
</html>