<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KaamPe Onboarding</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

        body {
            font-family: "Inter", sans-serif;
            background-color: #F0F0F0;
        }

        table {
            margin: 20px auto;
            width: 40%;
            background-color: white;
            border-radius: 24px;
        }

        a {
            text-decoration: none;
        }

        @media (max-width: 800px) {
            table {
                margin: 0 auto;
                width: 75%
            }

            .contact-info>span {
                font-size: 10px !important;
            }
        }

        @media (max-width: 400px) {
            table {
                margin: 0 auto;
                width: 95%
            }

            .contact-info>span {
                font-size: 10px !important;
            }
        }
    </style>
</head>

<body aria-disabled="false">
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr style="background: #F7F8FA;">
                <td colspan="2"
                    style="background: #F7F8FA; border-top-left-radius: 24px; border-top-right-radius: 24px;padding:10px 10px;">
                    <h4>KaamPe</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 15px 10px;">
                    <div
                        style="padding-left: 16px; padding-right: 16px; padding-top: 24px; padding-bottom: 24px; background: #F7F8FA; border-radius: 24px; ">
                        <p
                            style="color: black; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word;margin: 0;">
                            Dear <%- name %>,</p>
                        <br />
                        <p
                            style=" color: #3F3F3F; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word;margin: 0;">

                            email: <%- email %> <br />
                                password: <%- password %>
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" contact-info" colspan="2" style="background: #E7EAFF;padding: 10px;">
                    <span
                        style="color: #717F9D;; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word;">
                        Talk to us,
                        drop an email on:</span>
                    <span
                        style="color: #555D6E; font-size: 14px; font-family: Inter; font-weight: 500; text-decoration: none; word-wrap: break-word;">
                        <a href="mailto:kaampe@customersupport.in">kaampe@customersupport.in</a></span>
                    <span style="border: 1px #979BB8 solid; margin: 0 10px;">
                </td>
            </tr>

        </tbody>
    </table>
</body>

</html>